<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target name="file" xsi:type="File" layout="${level:padding=-6}  ${longdate}  ${logger:shortName=true:padding=-22} ${callsite:className=false:includeSourcePath=false:methodName=true:padding=-18} - ${message} ${exception:format=ToString,StackTrace}" filename="${currentdir}/${shortdate}.log" />
    <target name="console" xsi:type="Console" />
    <target name="debug" xsi:type="Debugger" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeto="file,console,debug" />
  </rules>
</nlog>